i.fa.far.fa-star {
    color: red;
}

p.text-red {
    color: red;
}

.toast.toast-success {
    background-color: #51a351 !important;
}

.toast.toast-error {
    background-color: red !important;
}


